.nv
.python_history
*.so
.ssh
*.pyc
/__pycache__/
*/__pycache__/
*.egg-info/
*.o
/build/
.ipynb_checkpoints
.Trash-0/
*.log
*.csv
*.lic
*.txt
*.png
*.pkl
trace.json
profile.json
*.trace.json
*.pkl
!result/
!result/**/*.pkl
!result/**/*.txt
*.pdf
*.pt
/notebook/*.json

