torch
pandas
statsmodels
bitsandbytes
datasets
accelerate
pulp
gurobipy
pulp
sacrebleu
scikit-learn 
scipy 
matplotlib 
statsmodels
# transformers

# our two packages
# git+https://github.com/tonyzhao-jt/LPTorch.git
# git+https://github.com/tonyzhao-jt/QLLM.git